@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  margin: 0px 0px;
  padding:0px 0px;
  color: white;
  background-color: black;
}
@layer base{
  .font-outline-4 {
    -webkit-text-stroke: 0.1vw white;
  }
}
#recipe{
  background-image : url('./assets/recipe.jpg')
}
